<!DOCTYPE html >
<html layout:decorator="shared/mainlayout"
      xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<body>
<th:block layout:fragment="header">
</th:block>

<th:block layout:fragment="content">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a class="btn btn-primary btn-sm" th:href="@{/schedule/create}">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add New
                    </a>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="row">
                        Status
                        <select>
                        <option th:value="DRAFT" th:text="*{schedule.status}"></option>
                        <option th:value="APPROVED" th:text="APPROVED"></option>
                      </select>
                    </div>
                    <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <tbody>
                        <th:block th:each="block : ${schedule.entry.blocks}" >
                            <tr class="odd gradeX">
                                <td th:text="${block.blockName}"></td>
                                <td ></td>
                                <td ></td>
                                <td></td>
                                <td ></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td >Section Name</td>
                                <td >Course</td>
                                <td >Faculty</td>
                                <td>Capacity</td>
                                <td >Enrolled</td>
                                <td>Available</td>
                            </tr>
                                <th:block th:each="section : ${block.sections}">
                                    <tr>
                                        <td></td>
                                        <td th:text="${section.name}">Section Name</td>
                                        <td th:text="${section.course.name}">Course</td>
                                        <td th:text="${section.faculty.firstName}">Faculty</td>
                                        <td th:text="${section.capacity}">Capacity</td>
                                        <td th:text="${section.enrolled}">Enrolled</td>
                                        <td th:text="${section.availableSeats}">Available</td>
                                    </tr>
                                </th:block>
                          <!--  </tr>

                                <td>
                                    <a th:href="@{'/schedule/edit/' + ${schedule.id}}" class="btn btn-success btn-sm">Edit</a>&nbsp;
                                    <a th:href="@{'/schedule/approved/' + ${schedule.id}}" class="btn btn-success btn-sm">Approved</a>&nbsp;
                                    <a th:href="@{'/schedule/delete/' + ${schedule.id}}" class="btn btn-danger btn-sm">Delete</a>&nbsp;
                                    <a th:href="@{'/schedule/details/' + ${schedule.id}}" class="btn btn-success btn-sm">Details</a>
                                </td>
                            </tr>-->
                        </th:block>
                        </tbody>
                    </table>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</th:block>

<th:block layout:fragment="footer">
</th:block>

</body>
</html>



